- title @service.name, @service.image_url

.services_list.equal_height
  .box
    %h2= t('nav.services')
    .content
      %ul.archive
        - Service.all.each do |service|
          %li.clickable
            .title= link_to_unless_current service, service

.about_our_service.equal_height
  .box
    %h2= t('services.about_our_service')
    .content= sf @service.description

.contact_us.equal_height
  .box
    %h2= t('services.contact_us')
    .content
      - if @service.contact_details.present?
        = sf @service.contact_details
      - else
        %p For more information on this service please contact us on:
        %p Phone: +44 (0)1293 583200
        %p Email: #{mail_to "enquiries@ascltd.com"}
