- title @service.name, @service.image_url

.row

  .column.eight
    .box
      %h2= t('nav.services')
      .content
        %ul.archive
          - Service.all.each do |service|
            %li
              .title= link_to_unless_current service, service

  .column.ten
    .box
      %h2= t('services.about_our_service')
      .content= simple_format @service.description

  .column.six
    .box
      %h2= t('services.contact_us')
      .content
        = sf t('services.discuss')

