- title @service.name, @service.image_url

.services_list.equal_height
  .box
    %h2= t('nav.services')
    .content
      %ul.archive
        - Service.all.each do |service|
          %li
            .title= link_to_unless_current service, service

.about_our_service.equal_height
  .box
    %h2= t('services.about_our_service')
    .content= simple_format @service.description

.contact_us.equal_height
  .box
    %h2= t('services.contact_us')
    .content
      = sf t('services.discuss')

