- title t("nav.events")

.row
  .column.twentyfour
    %h3= t("nav.events")
    #slider.flexslider
      %ul.slides
        %li{style: "background-image: url(#{image_path "events/sample_event.jpg"})"}
          .event_name London Expo

  - Event.order(:starts_on).each do |event|
    .event
      .outer
        .icon= image_tag "events/#{event.slug}.jpg"
        .box.equal_height
          %h2= event.name
          .details
            .location= event.location
            .date= event.dates
          .content= simple_format event.description
