- title t("nav.events")

.row
  .column.twentyfour
    %h3= t("nav.events")
    #slider.flexslider
      %ul.slides
        - Event.featured.each do |event|
          %li{style: "background-image: url(#{image_path "events/sample_event.jpg"})"}
            .event_name= event

  - Event.upcoming.each do |event|
    .column.twelve
      .outer
        .icon= image_tag "events/sample_icon.png"
        .box.event
          %h2= event.name
          .content
            .details
              .location= event.location
              .date 22-23 Jan 13
            %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
