.row
  .column.twelve
    .box
      .content
        = simple_form_for @album do |f|
          = f.input :kind, collection: [ "new_arrivals", "events", "asc_internal"], as: :radio_buttons
          = f.input :name
          = f.input :description

          - unless @album.new_record?
            = f.simple_fields_for :images do |p|
              = p.input :photo
              / = p.label :photo, "Upload photo:"
              / = p.file_field :photo#, multiple: false#, name: "image[photo]"

            - @album.images.each do |image|
              = image.photo_url

          = f.submit

        / = form_for @album.images.new do |f|
        /   = f.label :photo, "Upload photo:"
        /   = f.file_field :photo, multiple: true, name: "image[photo]"
        /   = f.submit
