.row
  .column.twelve
    = simple_form_for @album do |f|
      = f.input :kind, collection: [ "new_arrivals", "events", "asc_internal"], as: :radio_buttons
      = f.input :name
      = f.input :description

      = f.submit