.featured.photo.equal_height{'style' => 'background: none'}
  = link_to @album.featured_photo, @album.featured_photo, {"rel" => 'gallery', 'data-image' => "#{@album.featured_photo}", "class" => "img"}

.sidebar.equal_height
  .box
    %h2= @album.name
    - if @album.description.present?
      .content
        = simple_format @album.description
.photos
  - @album.photos.drop(1).each do |photo|
    .photo
      = link_to photo, photo, {"rel" => 'gallery', 'data-image' => photo, "class" => "img"}
