- title translate("nav.about_us")

.who_are_asc
  .box
    %h2= t("about_us.who_are_asc")
    .content= sf t("about_us.who_are_asc_description")

.customers
  /.equal_height{style: 'background: none'}
  .box{style: 'background: none'}
    %h2= t("about_us.ascs_customers")
    - %w[thomson atran british_airways titan_airways ukraine_international transaero].each do |company|
      .customer{style: "background-image: url(#{image_path "about/#{company}.png"})" }

.who_are_asc.equal_height
  .box
    %h2 Airline Services Group
    .content= sf t("about_us.airline_services_group_description")

.customers.equal_height
  .box
    %h2= t("about_us.how_to_contact_us")# How to contact us
    .content= sf t("about_us.how_to_contact_us_description")

  .box
    %h2= t("about_us.where_and_when")
    .content= sf t("about_us.where_and_when_description")
