.row
	.columns.four
		.box
			%h2= translate 'home.about_us'
			.content
				%p Airline Services Components Limited (ASC) specialises in the supply and management of rotable components from its storage and distribution warehouse at London Gatwick (LGW).

				%p We pride ourselves on our flexibility in dealing with customer requirements and our management structure, allowing us to make quick decisions thus expediting our processes and optimising operational performance.

	.columns.five
		.box
			%h2= t 'home.latest_news'

	.columns.three
		.box
			%h2= t 'home.upcoming_events'

.row
	.columns.four
		.box
			= image_tag "brochure.png"

	.columns.five
		.box
			= image_tag "airline_services.png"

	.columns.three
		.box
			= image_tag "careers.jpg"