.row
  .column.twelve
    = simple_form_for post do |f|
      = f.input :title
      = f.input :content, input_html: { class: 'redactor' }
      = f.input :published_at
      = f.input :news_image
      = f.submit
