- title "News"

%h3 News
.featured_posts
- Post.featured.each do |post|
  .post.featured.clickable{'data-image' => image_path("news/#{post.slug}.jpg")}
    .date
      .number{data: {valign: 'middle'}}
        %span.month= post.published_at.stamp('Oct')
        %span.day= post.published_at.stamp('15')
    .banner
      = link_to post, post, class: 'title'

.latest_posts
  - Post.latest.each do |post|
    .post.small.clickable{'data-image' => "#{post.news_image_url}"}
      .date
        .number{data: {valign: 'middle'}}
          %span.month= post.published_at.stamp('Oct')
          %span.day= post.published_at.stamp('15')
      = link_to post, post, class: 'title'

- unless Post.archive.empty?
  .sidebar.equal_height
    .box.clickable
      .content
        %ul.archive
          - Post.archive.each do |post|
            %li.clickable
              .title= link_to post, post
              .date= post.published_at.stamp('11th Oct 2012')

