- title "News"
.row
  .column.twentyfour
    %h3 News
  - Post.featured.each do |post|
    .column.twelve
      .post.featured.clickable{'data-image' => "#{post.news_image_url}"}
        .date
          .number{data: {valign: 'middle'}}
            %span.month= post.published_at.stamp('Oct')
            %span.day= post.published_at.stamp('15')
        .banner
          = link_to post, post, class: 'title'
.row
  .column.eighteen
    - Post.latest.each do |post|
      .column.eight
        .post.small.clickable{'data-image' => "#{post.news_image_url}"}
          .date
            .number{data: {valign: 'middle'}}
              %span.month= post.published_at.stamp('Oct')
              %span.day= post.published_at.stamp('15')
          = link_to post, post, class: 'title'

  - unless Post.archive.empty?
    .column.six.sidebar
      .box.clickable
        .content
          %ul.archive
            - Post.archive.each do |post|
              %li.clickable
                .title= link_to post, post
                .date= post.published_at.stamp('11th Oct 2012')

