!!!
%html.no-js
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %title= content_for?(:title) ? "#{yield(:title)}, Airline Service Components" : "Airline Service Components"
    %meta{:content => "", :name => "description"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application", "http://fast.fonts.com/jsapi/96e928de-d878-42f1-a756-73e753b3ce40.js"
    = csrf_meta_tags
    / %script{:src => "js/vendor/modernizr-2.6.2.min.js"}
  %body{ class: "c_#{controller_name} a_#{action_name}"}
    #headerbg
    #wrap.container
      #content
        %header
          #logo_holder
            = link_to 'ASC', root_path, id: 'logo'
          .right
            #i18n
              %ul
                %li= link_to_unless params[:locale] == "es", "Español", locale: "es"
                %li= link_to_unless params[:locale] == "ar", "العربية", locale: "ar"
                %li= link_to_unless params[:locale] == "ru", "русский", locale: "ru"
                %li
                  - if params[:locale].present? && params[:locale] != "en"
                    = link_to "English", locale: "en"
                  - else
                    English
            .contact= t 'header.contact'
            %nav
              %ul
                %li= link_to_unless_current translate("nav.gallery"), albums_path
                / %li= link_to_unless_current translate("nav.contact"), contact_path
                / %li= link_to_unless_current translate("nav.careers"), careers_path
                / %li= link_to_unless_current translate("nav.events"), events_path
                %li= link_to_unless_current translate("nav.news"), posts_path
                / %li= link_to_unless_current translate("nav.quality"), quality_path
                / %li= link_to_unless_current translate("nav.management_team"), management_team_path
                / %li= link_to_unless_current translate("nav.about_us"), about_us_path
                / %li= link_to_unless_current translate("nav.services"), services_path

        #hero{style: "background-image: url(#{yield(:hero_bg)});"}
          %h1{data: {valign: 'middle'}}= yield(:heading)

        #main
          = yield

    %footer
      .container
        .registered_address
          .address
            %p
              = translate 'footer.registered_address'
              %br/
              Airline Services Components Limited,
              %br/
              Canberra House, Robeson Way,
              %br/
              Sharston Green Business Park,
              %br/
              Manchester, M22 4SX
              %br/
              = link_to translate("footer.terms_and_conditions_of_sales"), terms_of_sales_path
              %br/
              = link_to translate("footer.terms_and_conditions_of_purchase"), terms_of_sales_path
        .copyright
          %p
            © #{Time.now.year} Airline Services Components Ltd. - Company No. 01503647
            %br/
            = link_to translate("footer.part_of_the_airline_services_group"), "http://www.airline-services.com/", style: 'color: #FFF'
          = link_to "Airline Services Group", "http://www.airline-services.com/", id: "airline_services_group_logo"
          / = image_tag "airline_services_group.png"

    :javascript
      var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
